<!DOCTYPE html>
<html lang="en">

<head>
  />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pricing</title>
  <link rel="stylesheet" href="pricing.css" />
  <img src="#" alt="Logo" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
</head>

<body>
  <eheadr class="header">
    <nav class="header__nav" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="global.header-nav.partial.html"></nav>
    <section class="header__hero header__hero--pricing" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="pricing.header-hero.partial.html"></section>
    </header>

    <main class="main">
      <section class="pricing__info" data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="pricing.main.info.partial.html"></section>

      <section class="pricing__plan-list" data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="pricing.plan-list.partial.html"></section>

      <section class="pricing__free-trial" data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="pricing.free-trial.html"></section>
    </main>

    <footer class="footer">
      <nav class="footer__nav" data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"></nav>
    </footer>
</body>

</html>