.footer__carousel {
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    min-height: 400px;

    .slide-carousel__track {
        display: flex;
        overflow: hidden;
        justify-content: center;
        gap: 20px;
        transition: transform 0.5s ease; /* 👈 animation */

        .carousel__slide {
            img {
                height: 350px;
                flex-shrink: 0;
            }
        }
    }

    .carousel__button {
        opacity: 0.5;
    / / half transparent transition: opacity 0.3 s ease;

        &:hover {
            opacity: 1;
        / / fully visible on hover
        }
    }
}
