:root {
    --color-footer-bg: rgb(10, 14, 27);
    --color-heading: rgb(255, 255, 255);
    --color-text: rgb(164, 164, 166);
    --button-color: #fff;
    --color-link: #B8B8B8;
    --color-phone: rgb(58, 157, 208);
    --color-social-icon-bg: #0B67B8;
    --color-subscribe-newsletter-bg: rgb(205, 55, 57);
    --color-subscribe-newsletter-bg-hover: rgb(13, 89, 159);
    --color-email-link: rgb(184, 184, 184);
    --color-footer-hover-bg: green
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--color-footer-bg);
    padding: 20px;
}

footer:hover {
    color: var(--color-footer-hover-bg);
    transition: 3s ease;
}

.footer__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1280px;
    margin: auto;
}

.footer__container > div:nth-child(1) {
    flex: 0 0 35%;
}

.footer__container > div:nth-child(2) {
    flex: 0 0 15%;
}

.footer__container > div:nth-child(3) {
    flex: 0 0 25%;
}

.footer__container > div:nth-child(4) {
    flex: 0 0 25%;
}

.footer__column {
    margin: 0;
    padding: 5px;
}

.footer__heading {
    margin-top: 0;
    color: var(--color-heading);
    padding-bottom: 12px;
    font-size: 23px;
}

.footer__text {
    color: var(--color-text);
    padding-top: 12px;
}

.footer__link {
    list-style: none;
    color: var(--color-link);
    padding-top: 5px;
}

.footer__link a {
    list-style: none;
    color: var(--color-link);
    text-decoration: none;
}

.footer__links {
    padding: 0;
}

.footer-column__logo,
.footer-column__navigation,
.footer-column__contacts,
.footer-column__newsletter {
    text-align: left;
}

.footer__contacts {
    list-style: none;
}

.footer__logo {
    width: 162px;
    height: auto;
}

.footer__contact-link--email {
    text-decoration: none;
    text-align: left;
    color: var(--color-email-link);
}

.footer__contact-link--phone {
    text-decoration: none;
    font-size: 23px;
    color: var(--color-phone);
    text-decoration-color: var(--color-phone);
}

.footer__contact-link--touch {
    text-decoration: none;
    padding-top: 5px;
}

.footer__underline {
    width: 100%;
    height: 20px;
}

.social__icons {
    padding: 20px 0;
    display: flex;
}

.social_icon {
    width: 32px;
    height: 32px;
    margin: 0 15px;
    background-color: var(--color-social-icon-bg);
    border-radius: 8px;
}

.footer__input,
.submit__button {
    display: block;
    width: 65%;
    color: var(--button-color);
    box-sizing: border-box;
    padding: 11px 19px;
    border-radius: 8px;
}

.footer__input {
    border: none;
    margin-bottom: 20px;
}

.submit__button {
    border: none;
    background-color: var(--color-subscribe-newsletter-bg);
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 2s ease-in-out, color 2s ease-in-out, transform 0.2s ease-in-out;
}

.submit__button:hover {
    background-color: var(--color-subscribe-newsletter-bg-hover);
    /*transform: scale(1.05);*/
    color: green;
    transform: translate(-10px, -10px);
    animation: shake 1s;
    animation-iteration-count: infinite;

    /*spin 1s linear infinite,*/

}

@keyframes spin {
    from {
        transform: rotate(0deg) scale(1.05);
    }
    to {
        transform: rotate(360deg) scale(1.05);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__container > div {
        flex: 0 0 100%;
        max-width: 90%;
        text-align: center;
    }

    .footer__column {
        margin-top: 16px;
        align-content: center;
    }

    .footer__logo {
        margin: auto;
    }

    .social__icons {
        display: flex;
        justify-content: center;
    }
}