*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgb(10, 14, 27);
    padding: 0;
    margin: 0;
}

.footer__container {
    display: flex;
    /*gap: 1px;*/
    /*flex-wrap: wrap;        !* щоб колонки переносилися *!*/
    justify-content: space-between;


    padding: 0;
    margin: auto;
    max-width: 1220px;
}

.footer__container > div {
    flex: 0 1 23%;   /* ширина ~ 23%, дозволяє 4 колонки в ряд з відступами */
    min-width: 250px; /* не дасть колонкам ставати дуже вузькими */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-content: center;

    }
    .footer__container > div {
        flex: 1 1 100%;
        min-width: 100%;
    }
}

h3 {
    margin-top: 0;
    color: rgb(255, 255, 255);
    padding-bottom: 12px;
}

.footer-text {
    color: rgb(164, 164, 166);
    padding-top: 12px;
}

.footer-link {
    list-style: none;
    color: #B8B8B8;
    padding-top: 5px;
}
.footer-link a{
    list-style: none;
    color: #B8B8B8;
    text-decoration: none;
}

.footer-links__container{
    padding: 0;
}

.footer-column__logo {
    text-align: left;
    padding: 10px;
}

.footer-column__navigation {
    text-align: left;
    padding-left: 10px;
}

.footer-column__contact {
    text-align: left;
    padding: 10px;
}

.footer-column__newsletter {
    text-align: left;
    padding: 10px;
}

.footer-column__contacts {
    padding: 10px;
    text-decoration: none;
}

.footer__logo {
    width: 162px;
    height: auto;
}

.mailto {
    text-align: left;
}

.footer__phone {
    /*text-align: left;*/
    text-decoration: none;
    font-size: 24px;
    color: rgb(58, 157, 208);
}

.stay-in-touch__link {
    padding-top: 5px;
}

.footer__underline {
    width: 100%;
    height: 31px;
}