@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

:root {
  --color-bg: #0c1020; /* основий  фон*/
  --colorr-article-bg: #090c18;
  --color-accent-primary: #3a9dd0; /* Головний бренд-акцент */
  --color-accent-secondary: #cd373a; /* Кнопки та виділення тексту */
  --color-secondary: #0b68b8; /* Другорядний синій */
  --color-text-muted: #b8b8b8; /* Другорядний текст */
  --color-text-light: #ffffff; /* Світлий текст */
  --color-divider: #b8b8b817;
  --border-color: rgba(255, 255, 255, 0.38); 
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
  /* FONTS */
  --font-size-small: 15px;
  --line-height-small: 1.2em;
}

body {
  background-color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
}

/* container settings */
.wrapper {
  padding: 0 20px;
  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}
/* Buttons */
.btn {
  display: flex;
  .btn__link {
    line-height: 1em;
    text-decoration: none;
    font-weight: 700;
  }
}

.btn--primary {
  .btn__link {
    font-size: 15px;
    color: #ffffff;
    padding: 12px 19px;
    border-radius: 5px;
    border: 1px solid;
    transition: 0.3s;
    border-color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: #0c1020;
      border-color: #0c1020;
    }
  }
}
.btn--secondary {
  .btn__link {
    padding: 15px 30px;
    background-color: var(--color-accent-secondary);
    color: var(--color-text-light);
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ;
    &:hover {
      background-color: var(--color-accent-primary);
    }
  }
}
