@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #0c1020; /* основий  фон*/
  --colorr-article-bg: #090c18;
  --color-accent-primary: #3a9dd0; /* Головний бренд-акцент */
  --color-accent-secondary: #cd373a; /* Кнопки та виділення тексту */
  --color-secondary: #0b68b8; /* Другорядний синій */
  --color-text-muted: #b8b8b8; /* Другорядний текст */
  --color-text-light: #ffffff; /* Світлий текст */
  --color-divider: #b8b8b817;
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
}

body {
    background-color: var(--background-color);
}

img {
  display: block;
  width: 100%;
}