.pricing {
  padding: 90px 30px 0px 30px;

  color: var(--color-text-light);
}

.pricing__price-muted {
  color: var(--color-text-muted);
}

.pricing__plan {
  /* border: 1px solid var(--color-text-muted); */
  border: 1px solid color-mix(in srgb, var(--color-text-muted) 50%, transparent);
  box-shadow: 0 0 0 1px transparent;
  border-radius: 10px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  padding: 30px;
}

.pricing__price {
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 0.3px;
}

.pricing__price,
.pricing__price-muted {
  display: inline-block;
  margin-bottom: 8px;
}

.pricing__features {
  list-style: none;
  padding-left: 20px;
}

.pricing__feature {
  position: relative;
}

.pricing__feature::before {
  content: "•";
  color: red;
  position: absolute;
  left: -15px;
}

.pricing__description {
  color: var(--color-text-muted);
}

.pricing__list .pricing__price {
  color: var(--primary-color);
}

.pricing__list .pricing__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d33;
  color: var(--color-text-light);
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pricing__list .pricing__btn:hover {
  background-color: #b22;
}


.pricing__name {
  font-size: 20px;
  margin: 16px 0 8px 0;
}

.pricing__description {
  margin-bottom: 16px;
}

.pricing__features {
  margin-bottom: 20px;
}

.pricing__btn {
  margin-top: 20px;
}