.trial {
  max-width: 1120px;
  padding: 40px 16px;
  background-color: var(--color-card-bg);
  border-radius: 20px;
  margin-top: 2rem;
  text-align: center;
  background-image: linear-gradient(
      transparent 0,
      transparent calc(100% - 1px),
      var(--color-divider) 1px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent calc(100% - 1px),
      var(--color-divider) 1px
    );
  background-size: 40px 40px;
  color: var(--color-text-light);
  margin: 20px auto 50px;
}

.trial__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.trial__text {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.trial__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 430px) {
  .trial__actions {
    flex-direction: row;
    gap: 1.5rem;
  }
}
/* Кнопка Learn More */
.trial__btn--primary {
  display: inline-block;
  font-size: var(--font-size-small);
  color: var(--color-text-light);
  padding: 12px 19px;
  border-radius: 5px;
  border: 1px solid var(--color-text-light);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
  width: 150px;
  height: 52px;
}

.trial__btn--primary:hover {
  background-color: var(--color-text-light);
  color: var(--color-bg);
  border-color: var(--color-bg);
}

/* Кнопка Contact Us */
.trial__btn--secondary {
  display: inline-block;
  padding: 5px 30px;
  background-color: var(--color-accent-secondary);
  color: var(--color-text-light);
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  max-width: 150px;
  height: 52px;
}

.trial__btn--secondary:hover {
  background-color: var(--color-accent-primary);
}
