.pricing {
  padding: 90px 30px;
  width: 320px;
  color: var(--color-text-light);

  .pricing__price-muted {
    color: var(--color-text-muted);
  }

  ;

  .pricing__plan {
    padding: 0px 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: #0b0f1a;
    width: 300px;
    box-shadow: 0 0 0 1px transparent;

  }

  ;
  .pricing__price {
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 0.3px;
}

  /* червоні крапочки Li */
  .pricing__features {
    list-style: none;
    padding-left: 20px;
  }

  /* червоні крапочки Li */
  .pricing__feature {

    position: relative;
  }

  /* червоні крапочки Li */
  .pricing__feature::before {
    content: "•";
    color: red;
    position: absolute;
    left: -15px;
  }

  .pricing__description {
    color: var(--color-text-muted);
  }

  ;

  .pricing__list {
    .pricing__price {
      color: var(--primary-color);
    }

    ;

    .pricing__btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #d33;
      color: var(--color-text-light) ;
      font-weight: bold;
      text-decoration: none;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
    };

    .pricing__btn:hover {
      background-color: #b22;
    }
  }
}
